.env
results/*/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
*.egg-info/
dist/
misc/
config/dpid_map.json
*.apconf
logs/
infrastructure/free5gc/cert/
*.zip
config/slice_pids.json
.vscode

models/*
!models/selected/
!models/selected/*

models_sac/*
!models_sac/selected/
!models_sac/selected/*
